::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(
    to bottom left,
    rgb(244, 168, 247),
    rgb(123, 213, 255)
  );
}

::-webkit-scrollbar-thumb {
  background: rgb(162, 36, 240);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(97, 20, 146);
}
html,
body,
#background {
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(
    to bottom right,
    rgb(244, 168, 247),
    rgb(123, 213, 255)
  );
}
