*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(
    to bottom right,
    rgb(244, 168, 247),
    rgb(123, 213, 255)
  );
  justify-content: center;
}

.search {
  width: 98%;
  height: 50px;
  border: 5px;
  font-size: larger;
  background-color: rgb(0, 0, 0, 0.6);
  color: whitesmoke;
  margin-top: 10px;
  margin-left: 0.5%;
  overflow: hidden;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

.paginationBtn {
  background-color: rgb(245, 245, 245, 0.5);
  padding: 15px;
  border: transparent;
  border-color: rgb(245, 245, 245, 0.5);
}

.paginationBtn:hover {
  background-color: rgb(122, 30, 192);
  color: whitesmoke;
  border: transparent;
}

.loading {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 150px;
}

.orderDropdown {
  background-color: rgb(245, 245, 245, 0.5);
  border-radius: 8px;
  margin-left: 27%;
  margin-top: 10px;
  font-size: 15px;
}

.dropdowns {
  display: flex;
  flex-direction: row;
}

.checkboxWhite {
  display: inline-block;
  margin: 5px;
  background-color: rgb(122, 30, 192, 0.3);
  border: transparent;
  width: max-content;
  justify-self: center;
  border-radius: 8px;
  flex-direction: row;
}

.homeCheckbox {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
